/* 
Override Css
 */
.bg-light{
    background-color: skyblue !important;
}


.margin-top-20{

    margin-top: 20px;

}

.feature-img{
    max-height: 200px;
}

.footer-bottom{

    padding: 15px;
    margin-top: 15px ;
    background: skyblue;

}