/* 
Override Css
 */
.bg-light {
    background-color: skyblue !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.feature-img {
    max-height: 200px;
}

.footer-bottom {
    padding: 15px;
    margin-top: 15px;
    background: skyblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.product-item {
    background: steelblue;
}

.child-rows {
    padding-left: 9px;
    border-left: 1px soild #dfdfdf;
    background: #fff;
}

.child-rows a.list-group-item {
    border-left: 0px !important;
}

/** Navbar CSS **/
.mr-auto,
.mx-auto {
    margin-top: 12px;
    margin-bottom: -10px;
}
.search-icon-button {
    background: #fdd922;
    border: 1px solid #fdd922;
    transition: 0.4s;
}
.search-icon-button:hover {
    background: #fdd922;
    border: 1px solid #fdd922;
    color: #fff;
}
.btn-cart-nav {
}
.btn-cart-nav:hover {
    background: inherit !important;
}

/** End Navbar CSS **/

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #000;
    background: #fff;
    border-radius: 10px;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
    background: #fff;
    border-radius: 10px;
}
/** Bootstrap Overrides */
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 20px;
    background-color: hsl(194, 98%, 44%);
}
